<app-admin></app-admin>
	<!-- extend form to upload product category-->
	<div class="newcatcontainer">
	<div class="newcat">
		<h2>Enter new range details</h2>
		<form name="new_range_form">
			
			<div class="form-group">
				<label for="category-name">Name of Range:</label>
				<input class="width100" type="text" id="category-name" name="category-name" [(ngModel)]="category_name">
			</div>
			<br>

			<div class="form-group">
				<label for="category-description">Description of Range:</label>
				<textarea form="newproductform" class="width100" name="category-description" [(ngModel)]="category_description"></textarea>
			</div>
			<br>

			<br>

			<div class="inlineblock form-group">
				<label for="categoryimage3">Upload main Range Image:  </label>
				<input type="file" name="range_page_image" id="categoryimage3" (change)="onRangePageImageSelected($event)">
			</div>

			<br>

			<div class="inlineblock form-group">
				<label for="categoryimages">Upload other range Images:  </label>
				<input type="file" name="range_page_image" id="categoryimages" (change)="onCategoryImageSelected($event)" multiple>
			</div>

			<br>

			<div style="text-align: center;">
			 	<button class="submitbtn" (click)="addNewProductRange()">Add New Range</button>
			</div>
		</form>
	</div>
	</div>