<app-admin></app-admin>
	<!-- extend form to upload product category-->
	<div class="newcatcontainer">
	<div class="newcat">
		<h2>Enter new range details</h2>
		<form name="new_range_form">
			
			<div class="form-group">
				<label for="category-name">Name of Range:</label>
				<input class="width100" type="text" id="category-name" name="category-name" [(ngModel)]="category_name">
			</div>
			<br>

			<div class="form-group">
				<label for="category-description">Description of Range:</label>
				<textarea form="newproductform" class="width100" name="category-description" [(ngModel)]="category_description"></textarea>
			</div>
			<br>

			<br>

			<div class="inlineblock form-group" title="This image will appear on the page dedicated to the range">
				<label for="categoryimage3">Upload Range Page Image:  </label>
				<input type="file" name="range_page_image" id="categoryimage3" (change)="onRangePageImageSelected($event)" >
			</div>

			<br>

			<div class="inlineblock form-group" title="This image will appear on the on the /product page, on the tile acting as link to the range page.">
				<label for="categoryimages">Upload Range Tile Image:  </label>
				<input type="file" name="range_page_image" id="categoryimages" (change)="onCategoryImageSelected($event)" >
			</div>

			<br>

			<div style="text-align: center;">
			 	<button class="submitbtn" (click)="addNewProductRange()">Add New Range</button>
			</div>
		</form>
	</div>
	</div>