<div class="container">
<h1>Add new product to database</h1>


<form id="newproductform" #form="ngForm" (ngSubmit)="productImagesUpload()" class="pure-form pure-form-stacked">
	<div class="form-group">
		<label for="category">Product Range:</label>
	    <select id="category" [(ngModel)]="category" name="category" required>
	        <option  value="" disabled selected> -- select which range the product is from -- </option>
	      	<option *ngFor="let category_i of categories" [ngValue]="category_i">{{category_i.category_name}}</option>
	       	<option *ngIf="new_cat_id" [ngValue]="new_category">{{new_category.category_name}}</option>
         	<option>The product is from a new range</option> 
	    </select>
	</div>
	<br>




	<!-- extend form to upload product category-->
	<div *ngIf="category ==='The product is from a new range'" class="newcat">
		<h2>Enter new range details</h2>
		<form name="new_range_form">
			
			<div class="form-group">
				<label for="category-name">Name of Range:</label>
				<input class="width100" type="text" id="category-name" name="category-name" [(ngModel)]="category_name">
			</div>
			<br>

			<div class="form-group">
				<label for="category-description">Description of Range:</label>
				<textarea form="newproductform" class="width100" name="category-description" [(ngModel)]="category_description"></textarea>
			</div>
			<br>
			<br>

			<div class="inlineblock form-group" title="This image is the background image on the /product page for the tile that links to the range's main page ">
				<label for="categoryimage1">Upload 'Range tile' Image:  </label>
				<input type="file" name="range_link_image" id="categoryimage1" (change)="onRangeLinkImageSelected($event)">
				
			</div>

			<br>
			<div *ngIf="range_link_image_url" class="form-group">
				<h4>Preview of image on '/product' page:</h4>
				<label for="preview" style="color: gray">Click and drag image below to vertically align as desired:</label>  	

				<div class="preview-container"  id="preview" (click)="mousemove($event)">
	
					<img class="category-tile-preview" [src]="range_link_image_url">				
					<div class="opaque" id="opaque1" [ngStyle]="{'height': ''+ this.opaque_height + '%'}">
					</div>
						<div class="position-box" [ngStyle]="{'top': ''+ this.opaque_height+'%'}">
							<h2 *ngIf="category_name">The {{category_name}} range</h2>
						</div>
					<div class="opaque" id="opaque2" [ngStyle]="{'height': 'calc(66% - '+ this.opaque_height+ '%)'}">
					</div>
					<div class="top">
					</div>
					

				</div>

			</div>
					
			<br>
			<br>

			<div class="inlineblock form-group">
				<label for="categoryimage2">Upload 'Range page' Image:  </label>
				<input type="file" name="range_page_image" id="categoryimage2" (change)="onRangePageImageSelected($event)">
			</div>

			<br>
			<br>
			<div style="text-align: center;">
			 	<button class="submitbtn" (click)="categoryImagesUpload()">Add New Range</button>
			</div>
		</form>
	
	</div>

	<br>
	<div *ngIf="category !='The product is from a new range'">
	<div class="form-group">
		<label for="product-name">Product Name:</label>
		<input type="text" class="width100" id="product-name" name="product-name" required 
		[(ngModel)]="product_name">
	</div>
	
	<br>
	<div class="form-group">
		<label for="short-description">Short Description:</label>
		<input type="text" class="width100" id="short-description" name="short_description" required
			[(ngModel)]="short_description">
	</div>
	<br>

	<div class="form-group">
	<div class="inlineblock" id="price">
		<label for="price">Price:</label>
		
			<span class="input-symbol">
			<input type="number" class="width100" id="price" min="0" step="1" name="price"
			[(ngModel)]="price" required>
		</span>
		
	</div>

	<div class="inlineblock marginleft" id="avail">
		<label for="availability">Available from:</label>
		<input type="text" id="availability" class="width100" name="availability" 
		[(ngModel)]="availability" required placeholder="e.g. 'Nov 2018'">
	</div>
	</div>

	<br>
	<div class="form-group">
		<label for="details">Details:</label>
		<div class="nowrap">
			<input type="text" id="short-description" [(ngModel)]="detail" name="detail" class="inputwithbutton" title="These will appear as bullet points on the product's page" placeholder="Enter product detail and click '+' button" >
			<button (click)="addDetail()" title="Add new product detail" class="inputwithbutton add" type="button">+</button>
		</div>
		<div *ngIf="details?.length > 0">
			<ul *ngFor="let d of details; let i = index; trackBy: trackByFn">
				<li class="nowrap">
					<input [(ngModel)]="details[i]" title="Edit detail here or remove by clicking '-' button" name="details[{{i}}]" class="inputwithbutton">
					<button (click)="deleteDetail(i)" title="Remove" class="inputwithbutton remove" type="button">-</button>
				</li>
			</ul>
		</div>
	</div>

	<br>
	<div class="form-group">
		<label for="long-description">Long Description:</label>
		<textarea class="width100" placeholder="Enter the more detailed product description..." form="newproductform"  name="long-description" [(ngModel)]="long_description" required></textarea>
	</div>

	<br>
	<div class="form-group">
		<label for="short-description">Video demonstartion URL:</label>
		<input type="text" class="width100" id="short-description" name="short_description" placeholder="Paste URL of youtube video here" 
			[(ngModel)]="youtube_url">
	</div>



	<br>

	<h3>Add product images: </h3>
	<div class="form-group" title="This image will act as the link to the product's page.">
		<label for="photo1">Choose main image:</label>
		<input type="file" id="photo1" name="main_image" (change)="onMainImageSelected($event)" required>
	</div>
	
	<br>
	<div class="form-group" title="You can select any number of product images to upload here">
		<label for="photos">Upload other product images:</label>
		<input type="file" id="photos" name="product_images" multiple (change)="onProductImageSelected($event)"> 
	</div>
	<br>
	<br>



	<div style="text-align: center;">
    	<button type="submit" class="submitbtn">Add Product</button>
	</div>
	</div>
</form>


</div>