<div class="container">
<h1>Add new product to database</h1>


<form id="newproductform" #form="ngForm" (ngSubmit)="productImagesUpload()" class="pure-form pure-form-stacked">
	<div class="form-group">
		<label for="category">Product Range:</label>
	    <select id="category" [(ngModel)]="category" name="category">
	        <option  value="" disabled selected> -- select which range the product is from -- </option>
	      	<option *ngFor="let category_i of categories">{{category_i.category_name}}</option>
	       	<option *ngIf="new_category">{{new_category}}</option>
         	<option>The product is from a new range</option> 
	    </select>
	</div>
	<br>




	<!-- extend form to upload product category-->
	<div *ngIf="category ==='The product is from a new range'" class="newcat">
		<h2>Enter new range details</h2>
		<form name="new_range_form">
			
			<div class="form-group">
				<label for="category-name">Name of Range:</label>
				<input class="width100" type="text" id="category-name" name="category-name" [(ngModel)]="category_name">
			</div>
			<br>

			<div class="form-group">
				<label for="category-description">Description of Range:</label>
				<textarea form="newproductform"  name="category-description" [(ngModel)]="category_description"></textarea>
			</div>
			<br>
			<br>

			<div class="inlineblock form-group" title="This image is the background image on the /product page for the tile that links to the range's main page ">
				<label for="categoryimage1">Upload 'Range tile' Image:  </label>
				<input type="file" name="range_link_image" id="categoryimage1" (change)="onRangeLinkImageSelected($event)">
				
			</div>

			<br>
			<br>

			<div class="inlineblock form-group">
				<label for="categoryimage2">Upload 'Range page' Image:  </label>
				<input type="file" name="range_page_image" id="categoryimage2" (change)="onRangePageImageSelected($event)">
			</div>

<!--
			<div class="inlineblock">
				<img *ngIf="range_link_image_url" id="range_link_pic" [src]="range_link_image_url">
				<img *ngIf="range_page_image_url" id="range_page_pic" [src]="range_page_image_url">
			</div>
					-->
			<br>
			<br>
			<div style="text-align: center;">
			 	<button class="submitbtn" (click)="categoryImagesUpload()">Add New Range</button>
			</div>
		</form>
	
	</div>

	<br>
	<div *ngIf="category !='The product is from a new range'">
	<div class="form-group">
		<label for="product-name">Product Name:</label>
		<input type="text" class="width100" id="product-name" name="product-name" 
		[(ngModel)]="product_name">
	</div>
	
	<br>
	<div class="form-group">
		<label for="short-description">Short Description:</label>
		<input type="text" class="width100" id="short-description" name="short_description" 
			[(ngModel)]="short_description">
	</div>
	<br>

	<div class="form-group">
	<div class="inlineblock" id="price">
		<label for="price">Price:</label>
		
			<span class="input-symbol">
			<input type="number" class="width100" id="price" min="0" step="1" name="price"
			[(ngModel)]="price">
		</span>
		
	</div>

	<div class="inlineblock marginleft" id="avail">
		<label for="availability">Available from:</label>
		<input type="text" id="availability" class="width100" name="availability" 
		[(ngModel)]="availability" placeholder="e.g. 'Nov 2018'">
	</div>
	</div>

	<br>
	<div class="form-group">
		<label for="details">Details:</label>
		<div class="nowrap">
			<input type="text" id="short-description" [(ngModel)]="detail" name="detail" class="inputwithbutton" title="These will appear as bullet points on the product's page" placeholder="Enter product detail and click '+' button" >
			<button (click)="addDetail()" title="Add new product detail" class="inputwithbutton add">+</button>
		</div>
		<div *ngIf="details?.length > 0">
			<ul *ngFor="let detail of details; let i = index; trackBy:trackByFn">
				<li class="nowrap">
				<input [(ngModel)]="details[i]" title="Edit detail here or remove by clicking '-' button" name="details[{{i}}]" class="inputwithbutton">
				<button (click)="deleteDetail(i)" title="Remove" class="inputwithbutton remove">-</button>
				</li>
			</ul>
		</div>
	</div>

	<br>
	<div class="form-group">
		<label for="long-description">Long Description:</label>
		<textarea class="width100" placeholder="Enter the more detailed product description..." form="newproductform"  name="long-description" [(ngModel)]="long_description"></textarea>
	</div>

	<br>
	<div class="form-group" title='Go to youtube video, click "share", then "Embed", and copy the URL indicated by src="[Copy URL link from here]"'>
		<label for="short-description">Video demonstartion URL:</label>
		<input type="text" class="width100" id="short-description" name="short_description" placeholder="Copy 'https://www.youtube.com/embed/...' URL from youtube" 
			[(ngModel)]="youtube_url">
	</div>



	<br>

	<h3>Add product images: </h3>
	<div class="form-group" title="This image will act as the link to the product's page.">
		<label for="photo1">Choose main image:</label>
		<input type="file" id="photo1" name="main_image" (change)="onMainImageSelected($event)">
	</div>
	
	<br>
	<div class="form-group">
		<label for="photos">Upload other images:</label>
		<input type="file" id="photos" name="product_images" multiple (change)="onProductImageSelected($event)"> 
	</div>
	<br>
	<br>



	<div style="text-align: center;">
    	<button type="submit" class="submitbtn">Add Product</button>
	</div>
	</div>
</form>


</div>