
<button class="logout" (click)="Logout()">Logout</button>
<div class="container">



	<h1>Welcome to REON Admin.</h1>

	<div class="admin-links">
			<a class="admin-link" routerLink="/admin/add_range"  [routerLinkActive]="['active']">New Product Range</a>
			<a class="admin-link" routerLink="/admin/new_product"  [routerLinkActive]="['active']">New Product</a>
			<a class="admin-link" routerLink="/admin/add_support_docs"  [routerLinkActive]="['active']">New Support Docs</a>
			<a class="admin-link" routerLink="/admin/add_article"  [routerLinkActive]="['active']">New Article</a>
			<a class="admin-link" routerLink="/admin/add_dealer"  [routerLinkActive]="['active']">New Dealer</a>
			<a class="admin-link" routerLink="/admin/edit_page"  [routerLinkActive]="['active']">Edit Page Content</a>

	</div>



</div>
