<div class="big-container">
<div class="logo-container header"  [ngStyle]="{'background-image': 'url(../assets/images/ReonBGAssets/header.jpg)'}">
	<img src="../assets/images/ReonLogo/Logo/Reon_Logo.png" width="50%" class="logo">
	
	<app-navbar></app-navbar>
</div>


<router-outlet></router-outlet>
	
<div class="footer"  [ngStyle]="{'background-image': 'linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../assets/images/ReonBGAssets/bannerHHH.jpg)'}">
<!--	<div class="background" [ngStyle]="{'background-image': 'url(../assets/images/ReonBGAssets/ReonBackGround_cropped4.jpg)'}">
	<img src="../assets/images/ReonBGAssets/ReonBackGround_cropped4.jpg">
	</div>-->


		<!--<a routerLink="/home">
		<img src="../assets/images/ReonLogo/Logo/Reon_Logo.png" width="10%" class="logo">
		</a>-->
	
	<a routerLink="/terms_of_use" id="termslink">Terms of Use</a>
</div>
</div>

<!--<app-messages></app-messages>-->
