
.big-container{
  min-height: 100%;
}

.homelink{
  width: 50%;
  display: block;
      margin-left: auto;
    margin-right: auto;
    cursor: default;
}


.logo {
	display: block;
	filter: invert(100%);
}

.logo-container {
	background-attachment: fixed;
	background-repeat:no-repeat;
  background-size: cover;
  background-position: 0% 3%;
  	}

  .footer{
    position: absolute;
    height: 0;        /*dynamic size */
    padding-top: 20%;
    bottom: 0;
    left: 0;


    background-color: black;
    width:100%;
    padding-bottom: 20px;
    display: table-cell;
    background-position: center bottom;
    background-size: contain;  
    background-repeat: no-repeat; 
    box-shadow: 0 10px 25px 20px black inset;

  }

  #termslink{
    text-decoration: none;
    color: rgb(180,180,180);
    position: absolute;
    right: 30%;
    bottom: 19%;
    cursor: pointer;
    font-family: Questrial;
    text-shadow: 1px 1px 1px black;
    font-size: 17px;
  }

  #google_translate_element{

    position: absolute;
    top: 1%;
    right: 1%;
    display: none;

  }




  .footer  img.logo  {
    position: absolute;
    bottom: 20%;
    left: 65%;
    min-width: 100px;

  }


    @media(max-width: 1000px) and (min-width: 520px)  {

    .footer{
       box-shadow: 0 10px 30px 20px black inset;
    }

 /*#google_translate_element{
    left:70%;
 }*/

  #termslink{
    bottom:21%;
    right: 35%;
    font-size: 16px;
  }


  }


  @media (max-width: 780px){
      #termslink{
      bottom: 22%;
      font-size: 14px;
    }


  .footer >  img.logo  {
    bottom: 5%;
  }

  }

  @media(max-width: 680px){

/*#google_translate_element{
   bottom: 5%;
   width: 120px;
 }*/



  #termslink{
    bottom:21%;
    /*right: 52%;*/

  }




  }



  @media(max-width: 519px) {

    .footer{
       box-shadow: 0 10px 15px 15px black inset;
   
    }


#google_translate_element{
   top: 3px;
   right:3px;
 }


  #termslink{
        right: auto;
      left: 65%;
      bottom: 15%;
      font-size: 13px;
    }

  .footer >  img.logo  {
    bottom:0px;
    left: 60%;
  }


  }


@media(max-width: 320px){
 #google_translate_element{
    display: none;
  }


  #termslink{
      left: 55%;
      bottom: 10%;

    }
}