
.big-container{
  min-height: 100%;
}

.logo {
	display: block;
	filter: invert(100%);
}

.header > .logo {
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
	background-attachment: fixed;
	background-repeat:no-repeat;
  background-position: 60% 50%; 
	}

  .footer{
    position: absolute;
    height: 0;        /*dynamic size */
    padding-top: 22%;
    bottom: 0;
    left: 0;
    z-index: -1;


    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    display: table-cell;
    background-position: bottom;

    opacity:0.8;

    background-size: 100%;  
    background-repeat: no-repeat; 
    box-shadow: 0 50px 50px 15px black inset;

  }


  .footer > .logo >  img {
    position: absolute;
    bottom: 0;
    right: 8%;
    margin-right: 5%;
    min-width: 100px;
  }


    @media(max-width: 900px) and (min-width: 520px)  {

    .footer{
       box-shadow: 0 30px 30px 15px black inset;
    }
  }


  @media(max-width: 519px) {

    .footer{
       box-shadow: 0 22px 22px 12px black inset;
       padding-top: 26%;
        padding-right: 10%;

    }

     .footer > .logo >  img {
    bottom:-10px;
  }


  }




  @media(max-width: 500px){

  .footer {
   
    }

  }