<div class="big-container">
<div class="logo-container header"  [ngStyle]="{'background-image': 'url(../assets/images/ReonBGAssets/header.jpg)'}">
	<a routerLink="/home" class="homelink">
		<img src="../assets/images/ReonLogo/Logo/Reon_Logo.png" width="100%" class="logo">
	</a>
	
	<app-navbar></app-navbar>
</div>


<router-outlet></router-outlet>
	
<div class="footer"  [ngStyle]="{'background-image': 'linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../assets/images/ReonBGAssets/bannerHHH.jpg)'}">
	
	<a routerLink="/terms_of_use" id="termslink">Terms of Use</a>
</div>

<div id="google_translate_element"></div>
</div>

<!--<app-messages></app-messages>-->
