<!--<h1>{{title}}</h1>-->
<div class="logo-container"  [ngStyle]="{'background-image': 'url(../assets/images/ReonGroupShots/ReonGroupShots/Jpeg-RGB/DSC_7476.JPG)'}">
	<img src="../assets/images/ReonLogo/Logo/Reon_Logo.png" width="50%" class="logo">


	<div class="nav-container">
		<nav class="nav-bar">
	 		<a routerLink="/dashboard" class="nav-button" [routerLinkActive]="['active']">About</a>
	  		<a routerLink="/products" class="nav-button" [routerLinkActive]="['active']">Products</a>
	  		<!--<a routerLink="/dashboard" class="nav-button" [routerLinkActive]="['active']">Contact</a>-->
		</nav>
	</div>
</div>


<router-outlet></router-outlet>
<app-messages></app-messages>

