.container {

  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30%;
  padding-right :30%;
  background-color: black;
  color: white;
  font-family: Questrial; font-size: 22px;
  font-style: normal; font-variant: normal; font-weight: 100;


}

hr{
	border: 2px solid white;
	  border-style: inset;
}

td{
	padding-top: 20px;
}

td i.fa{
	text-align: right;
}


h1, h2{
	padding: none;
	margin: 0px;
	font-weight: 100;
}


input, label {
	display:block;
	font-size: 16px;
}

td{
	font-size: 17px;
}

input {
	margin-bottom: 10px;
	height: 20px;
	border-width: 0 0 1px;
    border-color: #fff;
    color: white;
    background-color: black; 
    font-size: 16px;
    height: 20px;
    margin-top: 3px;
    outline: none;
    font-family: "Questrial";
}
textarea{
	border-radius: 5px;
	margin-top: 3px;
	font-family: Questrial;
	font-size: 16px;
	min-height: 100px;
	resize: vertical;
	padding:1% 1%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color: white !important;
}


.width95{
	width: 99%;
}

.width100{
	width: 100%;
}

.form-group{
	margin-bottom: 16px;
}


table{
	padding: 0;
	margin: 0;
}

.grid{
	margin: 30px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.row1{
	grid-column: 1/2;
	grid-row: 1/2;
	margin: 0;
	padding: 0;
}

button.iblink{
	border-radius: 50%;
	background-color: white;
	border: none;
	width: 25px;
	height: 25px;
	
	cursor: pointer;
	text-align: center;
}


.iblink i.fa{
margin-left: auto;
margin-right: auto;

}

a.ilink{
	position: absolute;
	bottom: 2px;
	right: 2px;}

.row2{
	position: relative;
	grid-column: 2/3;
	grid-row: 1/2;
}


h2{
	font-size: 24px;
}

.submitbutton{
	font-family: Questrial; font-size: 15px;
	text-align: center;
	padding: 4px 4px;
	min-width: 50px;
	color: white;
	background-color: rgb(100,100,100); 
	cursor: pointer;
	border: none;
	min-height: 30px;
}

.submitbutton:hover{
	background-color:  rgb(70, 150, 150);
}

.error{
	font-size: 16px;
	color:rgb(230, 100, 100);
	display: none;
	margin: 5px 0;
}

.buttwrap{
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
	cursor: default;
}


a.curs{
	cursor: pointer;
}

@media (max-width: 900px){
	.container{
		padding-left: 25%;
  		padding-right :25%;
	}
}

@media (max-width: 600px){
	.container{
		padding-top: 30px;
		padding-left: 15%;
  		padding-right :15%;
	}

	h1{
		font-size: 26px;
	}

	h2{
		font-size: 18px;
	}

	td{
		font-size: 15px;
	}

	table{
	margin: 20px 0;
}

input, label, textarea {
	
	font-size: 14px;
}
}

@media (max-width:480px){

	.grid{
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr;
		grid-gap: 20px;
		padding-bottom: 0;
		margin-bottom: 10px;
	}

	.row2{
		grid-column: 1/2;
		grid-row: 2/3;
	}

	a.ilink{position: relative;
		margin-left: 40px;}
} 



