
<div class="container" *ngIf="page_components">
<div class="intro">
<div class="Driftbox-group" *ngIf="page_components.image_filepath !== null">
  <img src="http://localhost/REON/{{page_components.image_filepath}}">
</div>

  <div class="text" [innerHTML]="page_components.copy">

  </div>

</div>
  
<div class="videoWrapper" *ngIf="page_components.video_url !== null">
 <iframe width="560" height="315" [src]=' sanitizer.bypassSecurityTrustResourceUrl(page_components.video_url)' frameborder="0"></iframe>
</div>

</div>
