

<div class="container" [ngStyle]="{'background-image': 'linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(http://localhost/REON/'+page_components.image_filepath+')'}">

	<!--
	<div class="Driftbox-group" id="homeimage" #homeimage>
  	<img src="http://localhost/REON/{{page_components.image_filepath}}" >
	</div>-->
<div *ngIf="page_components && page_components.copy !== null" style="max-width: 100%;">
	<p [innerHTML]="page_components.copy" style="text-shadow: 1px 1px 1px black; padding-top: 50px;">
	</p>
</div>
	<div class="videoWrapper" *ngIf="page_components && page_components.video_url !== null">
 		<iframe width="560" height="315" [src]=' sanitizer.bypassSecurityTrustResourceUrl(page_components.video_url)' frameborder="0"></iframe>
	</div>

</div>
