<div class="container">
<p>
Welcome to the REON, we are extremely proud to be distributed and represented in the UK and ROI, by one of the most innovative brands in the music industry - <a href="https://www.korg.com/uk/" target="_blank">KORG UK</a>. The synergy created by combining both brands allows us to bring a wealth of knowledge and experience rarely found. With this backdrop REON is destined to evolve to the next level!
<br>
Due to the "boutique" nature of our products, we have made them available exclusively through our hand-picked <a routerLink="/buy">agency network</a>. By adopting this approach, you can be assured of dealing with like-minded synthesizer enthusiasts that are driven by a common passion and love for electronic music.
</p>



</div>
