.container{


  padding-top: 55px;
  padding-left: 20%;
  padding-right :20%;
  background-color: black;
  color: white;
  font-family: Questrial;
  font-style: normal; font-variant: normal; font-weight: 100;


}

p{
	white-space: pre-line;
	margin: 0;
	 font-size: 19px;
}

a{
	color: white;
}