.container{
  background-color: black;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 70px;
  font-family: Questrial;  color: white; 
  display: block;
}

h1, h2, .center{
	text-align: center;
	 font-family: 'Allerta Stencil';
}

h1{
	font-size: 50px;
	font-weight: 300;
}

label{
	display: block;
	float: left;
}

input{
	width:100%;
	border-radius: 7px;
	height: 20px;
	font-size: 20px;
	display: block;
	margin-top: 5px;
}

.form-group {
	margin: 5px auto;
	width:220px;
	text-align: center;

}
button{
	margin-top: 10px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	width: 70px;
	color: black;
	background-color: #ddd;


}

button:hover{
	cursor: pointer;
}

