<div class="container">

	<h1>REON Admin</h1>

	<form #form="ngForm" (ngSubmit)="login()" class="pure-form pure-form-stacked">
		<h2>Login</h2>
		
		<div class="form-group">
			<label for="username">Username:</label>
			<input id="username" type="text" [(ngModel)]="username" name="username">
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<input id="password" type="password" [(ngModel)]="password" name="password">
		</div>

		<button type="submit" class="submitbtn">Login</button>

	</form>





</div>
