
	<div class="nav-container">
		<nav class="nav-bar" id="topnavbar">
 		<img src="./assets/images/menu.png" width="8%" class="icon" (click)="toggleMenu()">
	 		
		
			<div class="first">
				<a routerLink="/home" class="nav-button" [routerLinkActive]="['active']" (click)="toggleMenu()">Home</a>
				<a routerLink="/about" class="nav-button" [routerLinkActive]="['active']" (click)="toggleMenu()">About</a>
				<!--<div class="dropdown">
					<a routerLink="/products" class="drop nav-button" [routerLinkActive]="['active']" (click)="toggleMenu()">Products</a>-->
					<a routerLink="/products" class="nav-button" [routerLinkActive]="['active']" (click)="toggleMenu()">Products</a>
				   <!-- <div class="dropdown-content">
      						<a *ngFor="let category of categories" routerLink="/products/{{category.category_id}}">{{category.category_name}}</a>
    				</div>
    			</div>-->
				<a routerLink="/buy" class="nav-button" [routerLinkActive]="['active']" (click)="toggleMenu()">Buy</a>
		 		<a routerLink="/support" class="nav-button" [routerLinkActive]="['active']" (click)="toggleMenu()">Support</a>
		 		
		 		<a routerLink="/news" class="nav-button" [routerLinkActive]="['active']" (click)="toggleMenu()">News</a>
		 	</div>

		</nav>
	</div>