<div class="container">
<h1>Product Ranges</h1>
<hr>

<a *ngFor="let category Of categories" 
routerLink='/products/{{category.category_name}}'>
<div id="cf">
	<div class="category-tile top"
		[ngStyle]="{
			'background-image': 'url(http://localhost/REON/' + category.picture_1_filepath + ')', 
			'background-position': 'center '+ category.tile_picture_position+'%'}">
		
	</div>
	<div class="category-tile bottom"
		[ngStyle]="{
			'background-image': 'url(http://localhost/REON/' + category.picture_2_filepath + ')', 
			'background-position': 'center '+ category.tile_picture2_position+'%'}">
		
	</div>
	<h2>The {{category.category_name}} range<span class="onhover">&nbsp; &#10095;</span></h2>

</div>
<hr>
</a>

</div>