
<div class="app-product-detail-container" id="scrollto" #scrollto>
	<!--
<app-range-description (loadedEvent)="isLoaded($event)"></app-range-description>
-->
</div>
<div class="container" >

<div *ngIf="product">
	<div class="title-container">
	<a routerLink="/products/{{product.category_id}}" class="back">&#x2B8C;&#xFE0E; {{product.category_name}} range</a>
	<h1 class="center">{{product.name}}</h1>
	</div>

	<div class="grid">

		<div class="image-container">
		 

			<div class="display-container" style="max-width:800px">
				
				  <img class="mySlides" src="http://reonsynth.com/{{product.leading_photo_filepath}}" style="width:100%" [style.display]="display1">
				  <img class="mySlides" src="http://reonsynth.com/{{product_images[0]}}" style="width:100%" [style.display]="display2">
				  <img class="mySlides" src="http://reonsynth.com/{{product_images[1]}}" style="width:100%" [style.display]="display3">
				  <img class="mySlides" src="http://reonsynth.com/{{product_images[2]}}" style="width:100%" [style.display]="display4">

				  
				  	<div class="chevs center">
				    	<div class="left chev" (click)="plusDivs(-1)">&#10094;</div>
				    	<div class="right chev" (click)="plusDivs(1)">&#10095;</div>
					</div>

					<div class="change-slide center">
				    	<div class="img-background">
						  <img [ngClass]="slide1" (click)="currentDiv(1)" class="chooseSlide hover-highlight" src="http://reonsynth.com/{{product.leading_photo_filepath}}" style="width:100%">
						</div>
						<div class="img-background">
						  <img [ngClass]="slide2" (click)="currentDiv(2)" class="chooseSlide hover-highlight" src="http://reonsynth.com/{{product_images[0]}}" style="width:100%">
						</div>
						  <div class="img-background">
						  <img [ngClass]="slide3" (click)="currentDiv(3)" class="chooseSlide hover-highlight" src="http://reonsynth.com/{{product_images[1]}}" style="width:100%">
						</div>
						<div class="img-background">
						  <img [ngClass]="slide4" (click)="currentDiv(4)" class="chooseSlide hover-highlight" src="http://reonsynth.com/{{product_images[2]}}" style="width:100%">
						</div>
					</div>

			</div>
		</div>


		<div class="info">
			<h2>{{product.description}}</h2>
			<h2>£{{product.price | number:'1.0-2'}}</h2>
			<ul *ngFor="let detail of details">
			  	<li>{{detail}} </li>
			</ul>
			<br>
			<h2>Available: {{product.available}}</h2>
		</div>

	</div>

	<div class="long-desc" [innerHTML]="product.long_description">
	</div>

	<div *ngIf="product.youtube_url !== null" class="videoWrapper center">
	<iframe width="560" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl(product.youtube_url)' frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
	</div>



<!--   <div>
    <label>name:
      <input [(ngModel)]="product.name" placeholder="name"/>
    </label>
  </div>

 <button (click)="save()">save</button>
-->

</div>

</div>