<div class="container">

		<!--
	<div class="category" *ngIf="category!=null">

	<h1>The REON {{category.category_name}} Range</h1> 
	<div class="intro">
		<div class="pic-container">
			<img src="http://localhost/REON/{{category.main_page_picture}}">
	  	</div>
		<div class="description" [innerHTML]="category.category_description">	
		</div>
	</div>
	</div>-->
	<app-range-description></app-range-description>

	<div class="products">

		<a *ngFor="let product of products" 
	    routerLink='/products/{{product.category_id}}/{{product.product_id}}'>
	    <div class="module product">
	      <img src="http://localhost/REON/{{product.leading_photo_filepath}}" style="width:100%;">
			<h2>{{ product.name }}</h2>
			<h3>{{ product.description}} </h3>
			<h3>£{{product.price| number:'1.0-2'}}</h3>  
	    </div>
	  </a>
	</div>

</div>

