<div class="container">

<div class="range-links">

<a *ngFor="let category Of categories" routerLink='/products/{{category.category_id}}' class="range-tile">

		<img src="http://localhost/REON/{{category.main_page_picture}}" width="100%">
		<h2>The {{category.category_name}} range<span class="onhover">&nbsp;&#10095;</span></h2>

</a>
</div>
<br>
<br>
<hr>
<br>
<br>

<h1>All Products:   *search bar here*</h1>
	<div class="products">

		<a *ngFor="let product of products" 
	    routerLink='/products/{{product.category_id}}/{{product.product_id}}'>
	    <div class="module product">
	      <img src="http://localhost/REON/{{product.leading_photo_filepath}}" style="width:100%;">
			<h2>{{ product.name }}</h2>
			<h3>{{ product.description}} </h3>
			<h3>£{{product.price| number:'1.0-2'}}</h3>  
	    </div>
	  </a>
	</div>




<!--



<div id="cf">
	<div class="category-tile top"
		[ngStyle]="{
			'background-image': 'url(http://localhost/REON/' + category.picture_1_filepath + ')', 
			'background-position': 'center '+ category.tile_picture_position+'%'}">
		
	</div>
	<div class="category-tile bottom"
		[ngStyle]="{
			'background-image': 'url(http://localhost/REON/' + category.picture_2_filepath + ')', 
			'background-position': 'center '+ category.tile_picture2_position+'%'}">
		
	</div>
	<h2>The {{category.category_name}} range<span class="onhover">&nbsp; &#10095;</span></h2>

</div>

</a>
-->






</div>