.container{
  background-color: black;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  font-family: Questrial;  color: white;

}
/**/
.pic-container {
  padding-top: 18px;
 padding-bottom: 14px;

}

hr{
  margin: 0;
}

.bg{
  box-shadow: 0 0 50px 20px black inset;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.products{
  padding-top: 100px;
  padding-bottom: 10%;
  display: grid;
  grid-gap: 40px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Questrial;
  text-shadow:1px 1px 2px #000000; 

 
}

.product > h2,h3,a {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}

.intro{
  overflow: hidden;
}

.product > img {
  min-width: 120px;
  border-radius: 8px;
}

.product > h3 {
  font-weight: 100;
}


.description{
  font-size: 15px; font-weight: 100;
  color: white;
  padding-left: 10px;
 

}

  .pic-container > img {
  max-width:100%;
  max-height: 95%;
  
}

h1 {  font-family: Questrial;
      font-weight: 100;
      color: white;
      margin:0;
      padding-bottom: 20px;
      text-align: center;
}

@media (min-width: 900px){
  .pic-container {
    float: left;
    padding-right: 10px;
    width: 50%;
  }

  .description{
     min-height: 100%;
     white-space: pre-line;
  }

  h1 {
       font-size: 44px; 
  }
  .products{
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 899px){


.picture-container{
    width: 50%;
    max-width: 483px;
}

  h1{
    font-size: 34px;
  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 14px;
  }

  .products{
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 501px){
  
.products{
  padding-top: 100px;
  }

}



@media (max-width: 500px){
  .products{
  grid-template-columns: 1fr;
  grid-gap: 10px;
  }

}

@media (min-width: 1550px){
  .description > p{
    font-size: 1.3em;
  }
}