<div class="container">

	<app-range-description></app-range-description>
<!--	<hr *ngIf="products.length > 0">-->
	</div>
	<div  [ngStyle]="{'background-image': 'url(../assets/images/ReonBGAssets/ReonBackGroundcar.jpg)'}" class="bg">
	<div class="products">

		<a *ngFor="let product of products" 
	    routerLink='/products/{{product.category_id}}/{{product.product_id}}'>
	    <div class="module product">
	      <img src="http://localhost/REON/{{product.leading_photo_filepath}}" style="width:100%;">
			<h2>{{ product.name }}</h2>
			<h3>{{ product.description}} </h3>
			<h3>£{{product.price| number:'1.0-2'}}</h3>  
	    </div>
	  </a>
	</div>
	</div>


