.container{
  background-color: black;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Questrial;  color: white;
		padding-top: 0;
}

hr{
	margin:0;
	border:0;
	border-top: 1px solid white;
}

.searchbox{
	position: relative;
}

.searchbox input{
	text-indent: 24px;
	border-radius: 10px;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	width: 250px;
}

.searchbox .fa-search{
	position: absolute;
	top: 7px;
    left: 7px;
    font-size: 15px;
    filter: invert(50%);

}

.inlineblock{
	display: inline-block;
}

.searchalign{
	width: 100%;
	display: table-cell;

}


.producttitle{
	font-size: 30px;
	font-weight: 100;
	font-family: Questrial;
	padding-right: 10px; 
	margin: 0;
	vertical-align:bottom;
	padding-top: 0;
	padding-bottom: 0;

}

.range-links{

background-color: black;
  
  font-family: Questrial;  color: white;
	padding-top: 0;
	margin-top: 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	
}


.range-tile h2{
	position: absolute;
	font-size: 44px;
	bottom: 15px;
	right: 20px;
	margin: 0;
	text-shadow:3px 3px 5px #000000; 
	z-index: 2;


}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px 1px white;
    top: 0;
    left: 0;
}

a.range-tile{
	text-decoration: none;
	color: white;
	position: relative;
	overflow: hidden;
	margin: 0;

	max-height:350px;

}

.range-tile img{
 
  object-fit: cover;
  object-position: center center;
  display: block;
}


.onhover{
	display: none;
}

/*
.range-tile:hover .onhover{
	display: inline-block;

}*/

.range-tile:hover .shadow{
	background-color: black;
	opacity:0.2; 
	z-index: 1;
	box-shadow: none;
}

.odd-children.range-links a.range-tile:nth-child(3n-2){
	grid-column: 1/3;
}

.odd-children.range-links a.range-tile:nth-child(3n-2) h2{
	right: 10%;
}



@media(max-width: 900px){

	.range-tile h2{
	font-size: 30px;
	}

}

@media (max-width: 700px){
	.range-links{
	grid-template-columns: 1fr;
	}

	.range-tile h2{
		font-size: 40px;
	}

}

@media(max-width: 500px){
.searchbox input{
	font-size: 16px;
	height: 22px;
}

.container{
padding-left: 6%;
  padding-right: 6%;
}

	.range-tile h2{
		font-size: 30px;
	}

}
/* **************************** */
.products{
    width: 100%;
  display: grid;
  grid-gap: 40px;
  margin-top: 20px;
}
.product > h2,h3,a {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}
.product > img {
  min-width: 120px;
  border-radius: 8px;
}
.product > h3 {
  font-weight: 100;
}

@media (min-width: 900px){
  .products{
  grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 899px){
 .product h2{
    font-size: 16px;
  }
  .product h3{
    font-size: 14px;
  }
  .products{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 501px){
.products{
  padding-top: 20px;
  }
}
@media (max-width: 500px){
  .products{
 /* grid-template-columns: 1fr;*/
  grid-gap: 10px;
  }

  .product h2{
    font-size: 14px;
  }
  .product h3{
    font-size: 12px;
  }


}


/*
#cf {
  	position:relative;
	width:100%;
}


#cf .category-tile {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;

	z-index: 0;
	position: absolute;
	color: transparent;
	left:0;
	top:0;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 12s linear infinite 0s;
	-moz-animation: imageAnimation 12s linear infinite 0s;
	-o-animation: imageAnimation 12s linear infinite 0s;
	-ms-animation: imageAnimation 12s linear infinite 0s;
	animation: imageAnimation 12s linear infinite 0s; 
}


#cf > .category-tile:nth-child(2)  {
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
-o-animation-delay: 6s;
-ms-animation-delay: 6s;
animation-delay: 6s; 
}

#cf .onhover{
	display: none;
}



#cf:hover .onhover{
	display: inline-block;

}


a {
	text-decoration: none;
	color: white;
}

#cf h2{
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 2;
	margin:0;
	text-shadow:2px 2px 7px #000000; 
}


@media (min-width: 1100px){
	h2{
	font-size: 60px;
	}
	.onhover{
		font-size: 44px;
	}

	#cf {
  	height: 250px;
}

}

@media (max-width: 1099px) and (min-width: 851px){
	h2{
	font-size: 50px;
	}
	.onhover{
		font-size: 36px;
	}

		#cf {
  	height: 220px;
}


}

@media (max-width: 850px) and (min-width: 600px){
	h2{
	font-size: 38px;
	}
	.onhover{
		font-size: 28px;
	}

	#cf{
		height:180px;
	}

}

@media (max-width: 599px) and (min-width: 450px){
	h2{
	font-size: 28px;
	}
	.onhover{
		font-size: 18px;
	}


	#cf{
		height:130px;
	}

}

@media(max-width: 850px){
	.container{
		padding-left: 0;
		padding-right: 0;
	}
}


@media (max-width: 449px){
	h2{
	font-size: 24px;
		}
		.onhover{
		font-size: 14px;
	}
		#cf {
  	height: 110px;
	}


}

 
@-webkit-keyframes imageAnimation { 
0% { opacity: 0;
-webkit-animation-timing-function: ease-in; }
20% { opacity: 1;
     -webkit-animation-timing-function: ease-out; }
55% { opacity: 1 }
75% { opacity: 0 }
100% { opacity: 0 }
} 

@-moz-keyframes imageAnimation { 
0% { opacity: 0;
-moz-animation-timing-function: ease-in; }
20% { opacity: 1;
     -moz-animation-timing-function: ease-out; }
55% { opacity: 1 }
75% { opacity: 0 }
100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
0% { opacity: 0;
-o-animation-timing-function: ease-in; }
20% { opacity: 1;
     -o-animation-timing-function: ease-out; }
55% { opacity: 1 }
75% { opacity: 0 }
100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
0% { opacity: 0;
-ms-animation-timing-function: ease-in; }
20% { opacity: 1;
     -ms-animation-timing-function: ease-out; }
55% { opacity: 1 }
75% { opacity: 0 }
100% { opacity: 0 }
}

@keyframes imageAnimation { 
0% { opacity: 0;
animation-timing-function: ease-in; }
20% { opacity: 1;
     animation-timing-function: ease-out; }
55% { opacity: 1 }
75% { opacity: 0 }
100% { opacity: 0 }

}



*/