<div class="container">
<h1>Terms of Service</h1>

<h2>Privacy Policy</h2>
<p>This privacy policy defines how personal information is collected when you visit this website.
This site uses <a href="https://policies.google.com/technologies/partner-sites?hl=en-GB&gl=uk" target="_blank">Google Analytics</a> to store data helping us to observe trends in how this website is used. This process uses 'cookies' - small text files used to exchange information between your browser and our website. Feel free to decline the use of cookies by changing the relevant setting in your browser. This will not limit your usage of this website.   
</p>

</div>
