.container {

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20%;
  padding-right :20%;
  background-color: black;
  color: white;
  font-family: Questrial; font-size: 18px;
  font-style: normal; font-variant: normal; font-weight: 100;


}

.Driftbox-group {
  max-width:30%;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;


}

.Driftbox-group img{
  width: 100%;
}