<app-admin></app-admin>
<div class="articlecontainer">
<h2>Enter article details</h2>
<form name="new-article-form" (ngSubmit)="uploadArticle()" class="pure-form pure-form-stacked">

<div class="form-group">
	<label for="title">Article Title:</label>
	<input type="text" class="width100" id="title" name="title" [(ngModel)]="title" required>
</div>
<br>

<div class="form-group">
	<label for="article">Article Text:</label>
	<textarea form="new-article-form" class="width100" name="article" [(ngModel)]="article" required placeholder="Enter Article body here..."></textarea>
</div>
<br>
<!--
<div class="form-group inlineblock">

			<label for="articleImage">Upload Article Image: </label>
			<input type="file" name="articleImage" id="articleImage" (change)="onImageSelected($event)">
</div>-->
<br>
	<div style="text-align: center;">
    	<button type="submit" class="submitbtn">Add Article</button>
	</div>







</form>

</div>
